@model List<Chef>
<section class="section" style="padding-top:15px;" id="chefs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 text-center">
                <div class="section-heading">
                    <h6>Şeflerimiz</h6>
                    <h2>Sizin için en iyi malzemeleri sunuyoruz</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4">
                    <div class="chef-item">
                        <div class="thumb">
                            <div class="overlay"></div>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            <img src="~/ElitCafe/assets/images/@item.Picture" alt="Chef #1">
                        </div>
                        <div class="down-content">
                            <h4>@item.Name</h4>
                            <span>@item.Title</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>