@model List<HomeSlider>
<div id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="left-content">
                    <div class="inner-content">
                        <h4>ElitCafe</h4>
                        <h6>Pasta-Fırın-Cafe</h6>
                        <div class="main-white-button scroll-to-section">
                            <a asp-controller="MenuList" asp-action="Index">Menü İncele</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="main-banner header-text" style="height:100%;width:100%;">
                    <div class="Modern-Slider" style="height:100%;width:100%;">
                        <!-- Item -->
                        @foreach (var item in Model)
                        {
                            <div class="item" style="height:100%;width:100%;">
                                <div class="img-fill" style="height:100%;width:100%;">
                                    <img src="~/ElitCafe/assets/images/@item.Picture" alt="">
                                </div>
                            </div>
                        }
                        <!-- // Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>