@model List<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Kategoriler</h1>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Categori Adı</th>
            <th scope="col">Ürünlere Git</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Name</th>
                <td><a href="/Product/Index/@item.Id" class="btn btn-primary">Düzenle</a></td>
            </tr>
        }
    </tbody>
</table>


