@model MenuSlider
@{
    ViewData["Title"] = "MenuSliderUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form asp-controller="MenuSlider" asp-action="MenuSliderUpdate" method="post" style="width:100%">
    @Html.HiddenFor(x=>x.Id)
    @Html.HiddenFor(x=>x.Class)
    <div class="form-group">
        <label for="exampleFormControlInput1">Ürün Adı</label>
        <input asp-for="Name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ürün adını giriniz..">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Ürün Fiyatı</label>
        <input asp-for="Price" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ürün fiyatını giriniz..">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Ürün Açıklaması</label>
        <textarea asp-for="Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <button class="btn btn-success">Güncelle</button>
</form>
